.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.editor {
  flex: 1;
}

.selectContainer {
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
}

.selectLabel {
  font-size: 0.875rem;
  padding-right: 0.5rem;
}
