.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content {
  flex: 1;
  position: relative;
}

.contentEditor {
  height: 100%;
}

.contentProgressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.progressBarContainer {
  height: 0.375rem;
  pointer-events: none;
  opacity: 0.75;
}

.progressBarBlock {
  height: 100%;
  background: linear-gradient(
    to right,
    var(--ifm-color-primary-lightest),
    var(--ifm-color-primary)
  );
  width: 50%;
  animation-name: progressBarBlock;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes progressBarBlock {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(200%);
  }
}

.selectContainer {
  display: flex;
  align-items: center;
  border-left: 1px solid var(--ifm-color-emphasis-500);
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

.selectLabel {
  font-size: 0.875rem;
  padding-right: 0.5rem;
}
