.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.editor {
  flex: 1;
}

.activePath {
  overflow: hidden;
  font-size: 0.875rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0.75rem;
}
